*
!*.c
!*.h
!*.py
!*.pdf
!*.md
!*.sh
HeartBeat-Utils/generate_and_dispatch_indexes.sh
!TPA
!RA
!IMA
!Whitelist_generator
!HeartBeat-Utils
!HeartBeat-Utils/heartbeat_WAM
!HeartBeat-Utils/generateIndexesWAM
!Literature
!Makefile
!.gitignore