*
!*.c
!*.h
!*.py
!*.pdf
!*.md
!build_*.sh
!TPA
!RA
!IMA
!Whitelist_generator
!HeartBeat-Utils
HeartBeat-Utils/generate_and_dispatch_indexes.sh
!HeartBeat-Utils/heartbeat_WAM
!HeartBeat-Utils/generateIndexesWAM
!Consensous
!Literature
!Makefile
!.gitignore